2025 (C_Program Files_Freedom Scientific_JAWS)/xsd/qsm.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LocalizableDefinitions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DisplayNameDefinitions" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                                <xs:element name="DisplayName" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence minOccurs="0">
                                            <xs:element name="HelpMsg" type="xs:string" minOccurs="0" />
                                            <xs:element name="DisabledMsg" type="xs:string" minOccurs="0" />
                                        </xs:sequence>
                                        <xs:attribute name="ID" type="xs:string" use="required" />
                                        <xs:attribute name="Text" type="xs:string" use="optional" />
                                        <xs:attribute name="AliasID" type="xs:string" use="optional" />
                                    </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="File" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>
